<head>
    <link href="/static/css/mypage/mypageMain.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/mypage/mypageInquiryList.css" rel="stylesheet" type="text/css" />
</head>
{{>layouts/headerlogin}}
{{#loginUser}}
<body>
<!-- 마이페이지 상단 -->
<div class="header1">
    <div class="mpusername">
        <!-- My Page 텍스트 -->
        <div class="mp">
            <p>My Page</p>
        </div>

        <!-- 사용자 닉네임 -->
        <div class="username">
            <span id="username-display1"></span>
        </div>

        <!-- 인사말 -->
        <div class="hi">
            <span id="username-display2"></span>
        </div>
    </div>

    <!-- 내 정보 수정 -->
    <div class="myinfo">
        <a href="Info_Check_MyPage.html" style="color: black;">내 정보 수정</a>
    </div>
</div>
<div class="horizontal-line"></div>
<!-- 마이페이지 컨테이너 -->
<div class="container10">

    <!-- 마이페이지 카테고리 -->
    <div class="category10">
        <p style="display:none;" class="UserCode">{{user_code}}</p>

        <!-- 나의 쇼핑 정보 -->
        <div class="category_contents_1">
            <p class="category_title_p ">나의 쇼핑 정보</p>
            <div class="line1"></div>
            <a href="/mypage/main/{{user_code}}"><p class="category_content_p ">주문 내역 조회</p></a>
            <a href="/mypage/reviewlist/{{user_code}}"><p class="category_content_p">구매후기 관리</p></a>
            <a href="/mypage/like/{{user_code}}"><p class="category_content_p">좋아요</p></a>
        </div>

        <!-- 고객지원 -->
        <div class="category_contents_2">
            <p class="category_title_p ">고객 지원</p>
            <div class="line1"></div>
            <a href="/mypage/inquiry/list/{{user_code}}"><p class="category_content_p tt">문의 목록</p></a>
        </div>
    </div>

    <!-- 마이페이지 내용 -->
    <div class="mypage_content">
        <div class="inquiry_line_1">
            <div class="inquiry_line_1_1">
                <p>NO.</p>
            </div>

            <div class="inquiry_line_1_2">
                <p>주문번호</p>
            </div>

            <div class="inquiry_line_1_3">
                <p>문의 유형</p>
            </div>

            <div class="inquiry_line_1_4">
                <p>문의 제목</p>
            </div>

            <div class="inquiry_line_1_5">
                <p>답변 상태</p>
            </div>

            <div class="inquiry_line_1_6">
                <p>문의 날짜</p>
            </div>


        </div>
        <div class="horizontal-line"></div>

        <!-- 두번째 라인 -->
        {{#QuestionList}}
        <div class="inquiry_line_2" onclick="location.href='/mypage/inquiry/check/{{qu_code}}'">
            <div class="inquiry_line_2_1">
                <p class="QCount">1</p>
            </div>

            <div class="inquiry_line_2_2">
                <p>{{order_id}}</p>
            </div>

            <div class="inquiry_line_2_3">
                <p>{{qu_type}}</p>
            </div>

            <div class="inquiry_line_2_4">
                <p>{{qu_title}}</p>
            </div>

            <div class="inquiry_line_2_5">
                <p class="QuAnswer">{{qu_answer}}</p>
            </div>

            <div class="inquiry_line_2_6">
                <p>{{qu_date}}</p>
            </div>

        </div>

        {{/QuestionList}}

        <nav aria-label="Page navigation example" class="pageBtn">
            <!--                onclick="page(this); return false;"-->
            <ul class="pagination">

            </ul>
        </nav>

<!--        총 페이지 값-->
        {{#TotalPages}}
            <p style="display:none;" class="TotalPage">{{TotalPages}}</p>
        {{/TotalPages}}

        {{#NoAnswer}}
            <p style="display:none;" class="ErrorMsg">{{NoAnswer}}</p>
        {{/NoAnswer}}
    </div>
</div>
    <script>

        let UserCode = document.querySelector(".UserCode").textContent;
        console.log(UserCode);
        let UC = parseInt(UserCode);

        let Totalpage = document.querySelector(".TotalPage").textContent;
        console.log(Totalpage);

        //URL의 search 부분을 다루는 객체. window.location.search는 현재 URL에서 물음표(?) 이후의 부분을 나타냄
        const urlParams = new URLSearchParams(window.location.search);
        console.log(urlParams);
        const currentPage = parseInt(urlParams.get('page')) || 0; // 현재 페이지가 없으면 0으로 설정

        // no번호 처리 부분
        let QCount = document.querySelectorAll('.QCount');

        console.log(QCount);

        for (var i = 0; i < QCount.length; i++) {
            QCount[i].textContent = currentPage * 5 + i + 1;
        }

         // 부모 요소
        var paginationContainer = document.querySelector(".pagination");

        if (paginationContainer) {
         // 이전 버튼
            var prevButton = document.createElement("li");
            prevButton.classList.add("page-item");
            prevButton.innerHTML = `<a class="page-link"  href="/mypage/inquiry/list/${UC}?page=0" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>`;
            paginationContainer.appendChild(prevButton);

         // 페이지 번호 생성
            for (var i = 1; i <= Totalpage; i++) {
                var pageItem = document.createElement("li");
                pageItem.classList.add("page-item");
                pageItem.innerHTML = `<a class="page-link" href="/mypage/inquiry/list/${UC}?page=${i-1}">${i}</a>`;
                paginationContainer.appendChild(pageItem);
            }

            // 다음 버튼
            var nextButton = document.createElement("li");
            nextButton.classList.add("page-item");
            nextButton.innerHTML = `<a class="page-link" href="/mypage/inquiry/list/${UC}?page=${Totalpage-1}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>`;
            paginationContainer.appendChild(nextButton);
        }

        let QuAnswerText = document.querySelectorAll('.QuAnswer');

        QuAnswerText.forEach(function(target){
        <!--            console.log(target);-->
            if(target.innerText === '미완료'){
                target.style.color = "red";
            }else{
                target.style.color = "blue";
            }
        });


        let ErrorMsg = document.querySelector('.ErrorMsg').textContent;
        alert(ErrorMsg);



    </script>
</body>
{{/loginUser}}
{{>layouts/footer}}


