<head>
    <link href="/static/css/mypage/mypageMain.css" rel="stylesheet" type="text/css">
    <link href="/static/css/mypage/mypageReviewList.css" rel="stylesheet" type="text/css" />
</head>
{{>layouts/headerlogin}}
{{#loginUser}}

<body>
<!-- 마이페이지 상단 -->
<div class="header1">
    <div class="mpusername">
        <!-- My Page 텍스트 -->
        <div class="mp">
            <p>My Page</p>
        </div>

        <!-- 사용자 닉네임 -->
        <div class="username">
            <span id="username-display1"></span>
        </div>

        <!-- 인사말 -->
        <div class="hi">
            <span id="username-display2"></span>
        </div>
    </div>

    <!-- 내 정보 수정 -->
    <div class="myinfo">
        <a href="/mypage/info/{{user_code}}" style="color: black;">내 정보 수정</a>
    </div>
</div>
<div class="horizontal-line"></div>
<!-- 마이페이지 컨테이너 -->
<div class="container10">

    <!-- 마이페이지 카테고리 -->
    <div class="category10">

        <!-- 나의 쇼핑 정보 -->
        <div class="category_contents_1">
            <p class="category_title_p ">나의 쇼핑 정보</p>
            <div class="line1"></div>
            <a href="/mypage/main/{{user_code}}"><p class="category_content_p">주문 내역 조회</p></a>
            <a href="/mypage/reviewlist/{{user_code}}"><p class="category_content_p tt">구매후기 관리</p></a>
            <a href="/mypage/like/{{user_code}}"><p class="category_content_p">좋아요</p></a>
        </div>

        <!-- 고객지원 -->
        <div class="category_contents_2">
            <p class="category_title_p ">고객 지원</p>
            <div class="line1"></div>
            <a href="/mypage/inquiry/list/{{user_code}}"><p class="category_content_p">문의 목록</p></a>
        </div>
    </div>

    <!-- 마이페이지 내용 -->
    <div class="mypage_content">
        <div class="mypage_review_container">
            <!-- 구매후기 관리 텍스트 -->
            <div class="mypage_review_text_box">
                <p>구매후기 관리</p>
                <div class="horizontal-line"></div>

            </div>

            {{#reviewlist}}
            <form action="/review/delete/{{review_num}}/{{user_code}}" method="get">
            <!-- 주문 날짜 및 주문번호 -->
            <div class="mypage_review_order_box">
                <p>구매 날짜   | 주문 번호  {{order_num}}</p>
                <div class="horizontal-line"></div>
            </div>

            <!-- 구매후기 상품 컨테이너 -->
            <div class="mp_review_product_container">
                <div class="mypage_review_text_1">
                </div>

                <div class="mypage_review_product_info">
                    <p>후기 작성 날짜 {{review_date}} <br>
                         <br>
                         {{prod_size}}<br>
                        작성한 구매후기 내용: {{review_content}}
                    </p>
                </div>
                <div class="mypage_review_button_box">
                    <div class="mp_review_button_1">
                        <a href="/shopping/read/product/{{prod_code}}"><button type="button" id="mp_review_product_move">상품으로 이동</button></a>
                    </div>
                    <div class="mp_review_button_2">
                        <button type="submit" id="mp_review_delete">삭제</button>
                    </div>
                </div>

            </div>
    {{/reviewlist}}
            </form>
            <div class="mypage_review_product_2">

                <div class="horizontal-line"></div>
            </div>
        </div>
    </div>
</div>
    <script src="/static/js/mypage/mypageReviewList.js"></script>
</body>

{{/loginUser}}

{{>layouts/footer}}