<head>
    <link href="/static/css/mypage/mypageReviewWrite.css" rel="stylesheet" type="text/css" />
</head>
{{>layouts/headerlogin}}


<body>
<!-- 마이페이지 상단 -->
<div class="header1">
    <div class="mpusername">
        <!-- My Page 텍스트 -->
        <div class="mp">
            <p>My Page</p>
        </div>

        <!-- 사용자 닉네임 -->
        <div class="username">
            <span id="username-display1"></span>
        </div>

        <!-- 인사말 -->
        <div class="hi">
            <span id="username-display2"></span>
        </div>
    </div>

    <!-- 내 정보 수정 -->
    <div class="myinfo">
        <a href="Info_Check_MyPage.html" style="color: black;">내 정보 수정</a>
    </div>
</div>
<div class="horizontal-line"></div>
<!-- 마이페이지 컨테이너 -->
<div class="container10">

    <!-- 마이페이지 카테고리 -->
    <div class="category10">
{{#loginUser}}
        <!-- 나의 쇼핑 정보 -->
        <div class="category_contents_1">
            <p class="category_title_p ">나의 쇼핑 정보</p>
            <div class="horizontal-line"></div>
            <a href="/mypage/main/{{user_code}}"><p class="category_content_p">주문 내역 조회</p></a>
            <a href="/mypage/reviewlist/{{user_code}}"><p class="category_content_p">구매후기 관리</p></a>
            <a href="/mypage/like/{{user_code}}"><p class="category_content_p">좋아요</p></a>
        </div>

        <!-- 고객지원 -->
        <div class="category_contents_2">
            <p class="category_title_p ">고객 지원</p>
            <div class="horizontal-line"></div>
            <a href="/mypage/inquiry/list/{{user_code}}"><p class="category_content_p">문의 목록</p></a>
        </div>
    </div>

{{#review}}
    {{#orderdate}}

    <!-- 마이페이지 내용 -->
        <form action="/review/write/{{order_id}}/{{prod_code}}/{{user_code}}" method="get">
    <div class="mypage_content">
        <div class="mypage_review_container">
            <!-- 구매후기 관리 텍스트 -->
            <div class="mypage_review_text_box">
                <p>구매후기 등록</p>
                <div class="horizontal-line"></div>

            </div>

            <!-- 주문 날짜 및 주문번호 -->

            <div class="mypage_review_order_box">
                <p>구매 날짜  {{order_date}} | 주문 번호  {{order_id}}</p>
                <div class="horizontal-line"></div>
            </div>

            <!-- 구매후기 상품 컨테이너 -->
            <div class="mp_review_product_container">
                <div class="mypage_review_text_1">
                    <p style="font-weight: bold;">제품</p>
                </div>
                <div class="mp_review_product_img_box">
                    <img class="review_product_img_1" src="img/product1.png" alt="상품 이미지">
                </div>
                <div class="mypage_review_product_info">
                    <p style="font-size: 18px;">
                        {{prod_name}} <br><br>
                        {{prod_size}} {{prod_price}} <br>
                    </p>
                </div>
            </div>

            <!-- 별점 -->
            <div class="mypage_review_score_box">
                <div class="mypage_review_score_text">
                    <p>별점</p>
                </div>
                <div class="">
                    <img src="img/score2.png" alt="별점">
                </div>
            </div>

            <div class="review_img_box">
                <div>
                    <p>사진 (최대3개)</p>
                </div>

                <div>
                    <input type="file" name="reviewimage_link">
                </div>
            </div>

            <div class="review_text_1">
                <p>리뷰 내용 (300자 이내)</p>
            </div>
                <textarea id="reviewContent_1" name="review_content" rows="4" cols="50"></textarea><br>
                <button type="submit" id="submitReview_1">등록</button>
                <a href="/mypage/main/{{user_code}}"><button type="button" id="cancelReview_1">취소</button></a>
        </div>
    </div>
        </form>
    {{/orderdate}}
{{/review}}
{{/loginUser}}
</div>
    <script src="/static/js/mypage/mypageReviewWrite.js"></script>
</body>

<!--{{>layouts/footer}}-->
