<head>
    <link href="/static/css/mypage/mypageReviewCheck.css" rel="stylesheet" type="text/css" />
</head>
{{>layouts/headerlogin}}
{{#loginUser}}
<body>
<!-- 마이페이지 상단 -->
<div class="header1">
    <div class="mpusername">
        <!-- My Page 텍스트 -->
        <div class="mp">
            <p>My Page</p>
        </div>

        <!-- 사용자 닉네임 -->
        <div class="username">
            <span id="username-display1"></span>
        </div>

        <!-- 인사말 -->
        <div class="hi">
            <span id="username-display2"></span>
        </div>
    </div>

    <!-- 내 정보 수정 -->
    <div class="myinfo">
        <a href="/mypage/info/{{user_code}}" style="color: black;">내 정보 수정</a>
    </div>
</div>
<div class="horizontal-line"></div>
<!-- 마이페이지 컨테이너 -->
<div class="container10">

    <!-- 마이페이지 카테고리 -->
    <div class="category10">

        <!-- 나의 쇼핑 정보 -->
        <div class="category_contents_1">
            <p class="category_title_p ">나의 쇼핑 정보</p>
            <div class="horizontal-line"></div>
            <a href="/mypage/main/{{user_code}}"><p class="category_content_p">주문 내역 조회</p></a>
            <a href="/mypage/reviewlist/{{user_code}}"><p class="category_content_p">구매후기 관리</p></a>
            <a href="/mypage/like/{{user_code}}"><p class="category_content_p">좋아요</p></a>
        </div>

        <!-- 고객지원 -->
        <div class="category_contents_2">
            <p class="category_title_p ">고객 지원</p>
            <div class="horizontal-line"></div>
            <a href="/mypage/inquiry/list/{{user_code}}"><p class="category_content_p">문의 목록</p></a>
        </div>
    </div>

    <!-- 마이페이지 내용 -->
    <div class="mypage_content">
        <div class="mypage_review_container">
            <!-- 구매후기 관리 텍스트 -->
            <div class="mypage_review_text_box">
                <p>구매후기 확인</p>
                <div class="horizontal-line"></div>

            </div>

            <!-- 주문 날짜 및 주문번호 -->
            <div class="mypage_review_order_box">
                <p>구매 날짜  2023.09.14 | 주문 번호  20230914013129000</p>
                <div class="horizontal-line"></div>
            </div>

            <!-- 구매후기 상품 컨테이너 -->
            <div class="mp_review_product_container">
                <div class="mypage_review_text_1">
                    <p style="font-weight: bold;">제품</p>
                </div>
                <div class="mp_review_product_img_box">
                    <img class="review_product_img_1" src="img/product1.png" alt="상품 이미지">
                </div>
                <div class="mypage_review_product_info">
                    <p style="font-size: 18px;">
                        홀랜드 반팔 티셔츠 <br><br>
                        블랙/L/1개 17,900원 <br>
                    </p>
                </div>
            </div>

            <!-- 별점 -->
            <div class="mypage_review_score_box">
                <div class="mypage_review_score_text">
                    <p>별점</p>
                </div>
                <div class="">
                    <img src="img/score2.png" alt="별점">
                </div>
            </div>

            <div class="review_img_box">
                <div>
                    <p>사진 (최대3개)</p>
                </div>

                <div>
                    <img src="img/reviewimg3.png" alt="사진등록">
                </div>
            </div>

            <div class="review_text_1">
                <p>내용 (300자 이내)</p>
            </div>
            <form id="reviewForm">
                <label for="reviewContent">후기 내용:</label><br>
                <textarea id="reviewContent" readonly rows="4" cols="50">옷 핏이 너무 좋아요~~</textarea><br>
                <button type="button" id="goBack">돌아가기</button>

            </form>
        </div>
    </div>

</div>
    <script src="/static/js/mypage/mypageReviewCheck.js"></script>
</body>
{{/loginUser}}
{{>layouts/footer}}
