{{>layouts/headerlogin}}


    {{#showOrderDetail}}

        <p>상품 이름</p>
        <p>{{prod_name}}</p>

        <p>상품 구매 개수</p>
        <p>{{prod_cnt}}</p>

        <p>상품 사이즈</p>
        <p>{{prod_size}}</p>

        <p>상품 가격</p>
        <p>{{prod_price}}</p><br/>


    {{/showOrderDetail}}





{{>layouts/footer}}