<head>
    <link href="/static/css/mypage/mypageInquiryWrite.css" rel="stylesheet" type="text/css" />
</head>
{{>layouts/headerlogin}}
{{#loginUser}}
<body>
<!-- 마이페이지 상단 -->
<div class="header1">
    <div class="mpusername">
        <!-- My Page 텍스트 -->
        <div class="mp">
            <p>My Page</p>
        </div>

        <!-- 사용자 닉네임 -->
        <div class="username">
            <span id="username-display1"></span>
        </div>

        <!-- 인사말 -->
        <div class="hi">
            <span id="username-display2"></span>
        </div>
    </div>

    <!-- 내 정보 수정 -->
    <div class="myinfo">
        <a href="Info_Check_MyPage.html" style="color: black;">내 정보 수정</a>
    </div>
</div>
<div class="horizontal-line"></div>
<!-- 마이페이지 컨테이너 -->
<div class="container10">

    <!-- 마이페이지 카테고리 -->
    <div class="category10">

        <!-- 나의 쇼핑 정보 -->
        <div class="category_contents_1">
            <p class="category_title_p ">나의 쇼핑 정보</p>
            <div class="horizontal-line"></div>
            <a href="/mypage/main/{{user_code}}"><p class="category_content_p">주문 내역 조회</p></a>
            <a href="/mypage/reviewlist/{{user_code}}"><p class="category_content_p">구매후기 관리</p></a>
            <a href="/mypage/like/{{user_code}}"><p class="category_content_p">좋아요</p></a>
        </div>

        <!-- 고객지원 -->
        <div class="category_contents_2">
            <p class="category_title_p ">고객 지원</p>
            <div class="horizontal-line"></div>
            <a href="/mypage/inquiry/list/{{user_code}}"><p class="category_content_p">문의 목록</p></a>
        </div>
    </div>

    <!-- 마이페이지 내용 -->
    <div class="mypage_content">
        <div class="mypage_review_container">

            <div class="mypage_review_text_box">
                <p>문의 등록</p>
                <div class="horizontal-line"></div>

            </div>
            {{#orderInfo}}
            <!-- 주문 날짜 및 주문번호 -->
            <div class="mypage_review_order_box">
                <p>구매 날짜  {{order_date}} | 주문 번호  {{order_id}}</p>
                <div class="horizontal-line"></div>
            </div>


            {{#prodInfo}}
            <!-- 상품 컨테이너 -->
            <div class="mp_review_product_container">
                <div class="mypage_review_text_1">
                    <p style="font-weight: bold;">제품</p>
                </div>
                <div class="mp_review_product_img_box">
                    <img class="review_product_img_1" src="img/product1.png" alt="상품 이미지">
                </div>
                <div class="mypage_review_product_info">
                    <p style="font-size: 18px;">
                        {{prod_name}} <br><br>
                        {{prod_size}}/{{prod_cnt}}개 {{prod_price}}원 <br>
                    </p>
                </div>
            </div>


            <form method="post" action="/write/{{order_id}}/{{prod_code}}">

                <p style="display:none;" name="orderId">{{order_id}}</p>
                <p style="display:none;" name="prodCode">{{prod_code}}</p>
                <div class="inquiry_type">
                    <div class="inquiry_type_text">
                        <p>문의 유형</p>
                    </div>

                    <div class="inquiry_button_box_1">
                        <div>
                            <input type="radio" value="배송" name="quType"> 배송
                        </div>
                        <div>
                            <input type="radio" value="주문/결제" name="quType">주문/결제
                        </div>
                        <div>
                            <input type="radio" value="상품" name="quType">상품
                        </div>
                        <div>
                            <input type="radio" value="취소/교환/환불" name="quType">취소/교환/환불
                        </div>
    <!--                    <button id="inquiry__button_1">배송</button>-->
    <!--                    <button id="inquiry__button_2">주문/결제</button>-->
                    </div>
                </div>

                <div class="Inquiry_img_text">
                    <p>사진 (최대3개)</p>
                    <div>
                        <input type="file" name="quImage">
                    </div>
                    <div>
                        <input type="file" name="quImage2">

                    </div>
                    <div>
                        <input type="file" name="quImage3">

                    </div>
                </div>

<!--                <div>-->
<!--                    <img src="img/reviewimg1.png" alt="사진등록">-->
<!--                </div>-->
                <div class="Inquiry_form">
                        <label for="qutitle">문의 제목</label><br>
                        <textarea id="qutitle" name="quTitle" rows="4" cols="50"></textarea><br>

                        <label for="quContent">문의 내용</label><br>
                        <textarea id="quContent" name="quContent" rows="4" cols="50"></textarea><br>
                </div>
                <button type="submit" class="submitBtn" id="submitReview_1" >등록</button>
                <button type="button" id="cancelReview_1">취소</button>
            </form>
        </div>
    </div>

</div>
</body>
            {{/prodInfo}}
            {{/orderInfo}}
{{/loginUser}}
{{>layouts/footer}}