<head>
    <link href="/static/css/mypage/mypageInfo.css" rel="stylesheet" type="text/css" />
</head>
{{>layouts/headerlogin}}


<body>




<!-- 마이페이지 상단 -->
<div class="header1">


    <div class="mpusername">
        <!-- My Page 텍스트 -->
        <div class="mp">
            <p>My Page</p>
        </div>

        <!-- 사용자 닉네임 -->
        <div class="username">
            <span id="username-display1"></span>

        </div>

        <!-- 인사말 -->
        <div class="hi">
            <span id="username-display2"></span>
        </div>

    </div>

    <!-- 내 정보 수정 -->
    <div class="myinfo">
        <a href="Info_Check_MyPage.html" style="color: black;">내 정보 수정</a>
    </div>

</div>

<div class="horizontal-line"></div>

<!-- 마이페이지 컨테이너 -->
<div class="container10">

    <!-- 마이페이지 카테고리 -->
    <div class="category10">

        <!-- 나의 쇼핑 정보 -->
        <div class="category_contents_1">
            <p class="category_title_p ">나의 쇼핑 정보</p>
            <div class="horizontal-line"></div>
            <p class="category_content_p">주문 내역 조회</p>
            <p class="category_content_p">구매후기 관리</p>
            <p class="category_content_p">좋아요</p>
        </div>

        <!-- 고객지원 -->
        <div class="category_contents_2">
            <p class="category_title_p ">고객 지원</p>
            <div class="horizontal-line"></div>
            <p class="category_content_p">문의 목록</p>
        </div>
    </div>

    <div class="content10">
        <div class="mypage_myinfo_txt">
            <p>내 정보 관리</p>
        </div>
        <!-- 수정할 정보 입력 -->
        <div class="user_info_input">
            <!--현재 action은 미지정  -->
            <form action="" method="post">
                <div class="email_input_box">
                    <label for="mypage_email" class="email_margin">이메일</label>
                    <input type="text" id="mypage_email" name="mypage_email" placeholder="기존 유저 이메일">
                </div>

                <div class="number_input_box">
                    <label for="mypage_number" class="number_margin">휴대전화</label>
                    <input type="text" id="mypage_number" name="mypage_number" placeholder="기존 유저 전화번호">
                </div>

                <div class="password_input_box">
                    <label for="mypage_password" class="password_magin">비밀번호 수정</label>
                    <input type="password" id="mypage_password" name="mypage_password" placeholder="비밀번호 수정시에만 입력">
                </div>

                <div class="password_input_check_box">
                    <label for="mypage_password_check" class="password_check_magin">비밀번호 수정확인</label>
                    <input type="password" id="mypage_password_check" name="mypage_password_check" placeholder="수정된 비밀번호 확인">
                    <br>
                </div>

                <div class="address_container">
                    <div class="address_box">
                        <label for="mypage_address">배송주소</label> <br>
                        <input type="text" id="mypage_address" name="mypage_address" placeholder="기존 유저 배송주소">
                    </div>

                    <div class="address_box_detail_box">
                        <label for="mypage_address_detail">상세주소</label> <br>
                        <input type="text" id="mypage_address_detail" name="mypage_address_detail" placeholder="기존 유저 상세정보">
                    </div>
                    <button id="add-address-button">배송지 추가</button>
                </div>

                <p class="myinfo_modify_text">*내 정보의 수정할 항목만 수정 후 수정하기를 누르세요*</p>
                <div class="mypage_modify_box">
                    <input type="submit" class="button_myinfo_modify" value="수정하기">
                    <input type="reset" class="button_myinfo_cancell" value="취소">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/mypage/mypageInfo.js"></script>
</body>

{{>layouts/footer}}