/* 마이페이지 상단 */
.header1 {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1000px;


    /* background-color: thistle; */
    justify-items: end;

}

/*My Page 텍스트와 사용자 이름의 컨테이너  */
.mpusername{
    position: relative;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    /* background-color: greenyellow; */
    margin-top: 50px;
    margin-left: 10px;
}

/* My Page 텍스트 */
.mp{
    width: 150px;
    height: 60px;

    font-size: 24px;
    font-weight: bold;
    /* background-color: rebeccapurple; */
}

/* 사용자 닉네임 */
.username{
    /* position: relative;
    top: 40px;
    left: 60px;  */

    width: 200px;
    height: 60px;
    color: #398ABE;
    font-size: 50px;
    /* background-color: yellow; */

}

/* 인사말 */
.hi{
    width: 500px;
    height: 60px;
    color: #398ABE;
    font-size: 20px;
    /* background-color: firebrick; */
}


/*내 정보 수정 */
.myinfo{
    width: 200px;
    height: 60px;

    position: relative;
    top: 270px;
    /* justify-items: end; */

    /* margin-top: 240px; */
    font-weight: bold;
    /* background-color: yellow; */
}


/* 가로선 */
.horizontal-line {
    border: 1px solid #CFCFCF;
    width: 100%;
    margin: 0px ;
}





/* 마이페이지 컨테이너 */
.container10 {

    /* background-color: #111; */
    height: 1200px;
    display: flex;

}



/* 카테고리 컨테이너 */
.category10 {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #ac2222; */
}

/* 나의 쇼핑 정보 카테고리 */
.category_contents_1{
    position: relative;
    width: 300px;
    height: 250px;
    top: 10px;
    /* background-color: #398ABE; */
}

/* 나의 쇼핑 정보 카테고리 */
.category_contents_2{
    position: relative;
    width: 300px;
    height: 200px;
    top: 50px;

    /* background-color: yellow; */
}

/* 카테고리 제목 텍스트 */
.category_title_p {
    font-size: 24px;
    font-weight: bold;
}

/* 카테고리 제목 텍스트 */
.category_content_p {
    font-size: 18px;
}


/* 마이페이지 내용 컨테이너*/
.mypage_content {
    display:flex;
    flex-direction: column;
    width: 1200px;
    height: 100%;
    /* background-color: #555; */
    margin-left: 50px;
}

        /* ------------------- */

.mypage_review_container{
    position: relative;
    top: 18px;
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    /* background-color: #398ABE; */
}

.mypage_review_text_box{
    width: 140px;
    height: 70px;
    font-size: 22px;
    font-weight: bold;
    /* background-color: #16A085; */
}

.mypage_review_order_box{
    height: 70px;
    /* background-color: #8E44AD; */
}

/* 구매후기 상품 박스 */
.mp_review_product_container{
    display: flex;
    height: 130px;

    /* background-color: aqua; */
}

.mypage_review_text_1{
    width: 110px;
    font-size: 16px;
    /* background-color: #8E44AD; */
}

.mp_review_product_img_box{
    width: 160px;
    /* background-color: chartreuse; */
}

.review_product_img_1{
    position: relative;
    top: 10px;
}

.mypage_review_product_info{
    width: 1000px;
    /* background-color: darkgoldenrod; */
}

.mypage_review_button_box{
    display: flex;
    flex-direction: column;
    width: 800px;
    /* background-color: yellow; */
}

.mp_review_button_1{
    position: relative;
    top: 30px;
    width: 200px;
    margin-left: 10px;
    /* background-color: #398ABE; */
}

.mp_review_button_2{
    display: flex;
    position: relative;
    top: 50px;
    /* background-color: brown; */

}

#mp_review_product_move{
    display: inline-block;
    width: 130px;
    height: 50px;

    background-color: #16A085;
    color: #fff;
    font-weight: bold;
    font-size: 16px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#mp_review_modify{
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 10px;

    background-color: #3498DB;
    color: #fff;
    font-weight: bold;
    font-size: 12px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#mp_review_delete{
    display: inline-block;
    width: 60px;
    height: 30px;

    margin-left: 10px;
    background-color: #5E5E5E;
    color: #fff;
    font-weight: bold;
    font-size: 12px;

    border: none;
    border-radius: 5px;
    cursor: pointer;

}

            /* MyPage_Review_Write  */

/* 별점 박스 */
.mypage_review_score_box{
    margin-top: 20px;
    width: 400px;
    height: 70px;
    /* background-color: #8E44AD; */
    display: flex;
}


/* 별점 텍스트 */
.mypage_review_score_text{
    /* position: relative;
    top: 100px; */
    width: 40px;
    height: 40px;
    font-weight: bold;
    /* background-color: yellow; */
}

/* 사진 첨부 이미지 */
.review_img_box{

    /* position: relative;
    top: 100px; */
    font-weight: bold;
    /* background-color: chartreuse; */
}


/* 내용 (300자 이내) 텍스트 */
.review_text_1{

    margin-top: 30px;
    font-weight: bold;
}

#submitReview_1{
    width: 95px;
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	background-color: #3498DB;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    margin-top: 50px;
    margin-left: 80px;

}

#cancelReview_1{
    width: 95px;
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	background-color: #A6A6A6;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    margin-left: 30px;
}

#goBack{
    width: 95px;
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	background-color: #A6A6A6;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    margin-top: 50px;
    margin-left: 80px;
}
