/* 마이페이지 상단 */
.header1 {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1000px;


    /* background-color: thistle; */
    justify-items: end;

}

/*My Page 텍스트와 사용자 이름의 컨테이너  */
.mpusername{
    position: relative;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    /* background-color: greenyellow; */
    margin-top: 50px;
    margin-left: 10px;
}

/* My Page 텍스트 */
.mp{
    width: 150px;
    height: 60px;

    font-size: 24px;
    font-weight: bold;
    /* background-color: rebeccapurple; */
}

/* 사용자 닉네임 */
.username{
    /* position: relative;
    top: 40px;
    left: 60px;  */

    width: 200px;
    height: 60px;
    color: #398ABE;
    font-size: 50px;
    /* background-color: yellow; */

}

/* 인사말 */
.hi{
    width: 500px;
    height: 60px;
    color: #398ABE;
    font-size: 20px;
    /* background-color: firebrick; */
}


/*내 정보 수정 */
.myinfo{
    width: 200px;
    height: 60px;

    position: relative;
    top: 270px;
    /* justify-items: end; */

    /* margin-top: 240px; */
    font-weight: bold;
    /* background-color: yellow; */
}


/* 가로선 */
.horizontal-line {
    border: 1px solid #CFCFCF;
    width: 100%;
    margin: 0px ;
}





/* 마이페이지 컨테이너 */
.container10 {

    /* background-color: #111; */
    height: 1200px;
    display: flex;

}



/* 카테고리 컨테이너 */
.category10 {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #ac2222; */
}

/* 나의 쇼핑 정보 카테고리 */
.category_contents_1{
    position: relative;
    width: 300px;
    height: 250px;
    top: 10px;
    /* background-color: #398ABE; */
}

/* 나의 쇼핑 정보 카테고리 */
.category_contents_2{
    position: relative;
    width: 300px;
    height: 200px;
    top: 50px;

    /* background-color: yellow; */
}

/* 카테고리 제목 텍스트 */
.category_title_p {
    font-size: 24px;
    font-weight: bold;
}

/* 카테고리 제목 텍스트 */
.category_content_p {
    font-size: 18px;
}


/* 마이페이지 내용 컨테이너*/
.mypage_content {
    display:flex;
    flex-direction: column;
    width: 1200px;
    height: 100%;
    /* background-color: #555; */
    margin-left: 50px;
}

            /* ----- */

.like_text{
    margin-top: 30px;
    width: 150px;
    height: 50px;
    font-size: 32px;
    font-weight: bold;
    /* background-color: aqua; */
}

.like_select_all{
    width: 200px;
    height: 50px;
    font-size: 18px;

    font-weight: bold;
    /* background-color: hotpink; */
}



.like_product_1{
    display: flex;
    width: 700px;
    height: 130px;
    /* background-color: green; */
}

.like_product_2{
    display: flex;
    width: 700px;
    height: 130px;

    /* background-color: yellow; */
}

.like_product_3{
    display: flex;
    width: 700px;
    height: 130px;

    /* background-color: red; */
}

.like_product_checkbox_1{
    width: 30px;
}

.like_product_img_1{
    width: 120px;
    /* background-color: #398ABE; */
}

.like_product_text_1{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.like_product_checkbox_2{
    width: 30px;
}

.like_product_img_2{
    width: 120px;
    /* background-color: #398ABE; */
}

.like_product_text_2{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.like_product_checkbox_3{
    width: 30px;
}

.like_product_img_3{
    width: 120px;
    /* background-color: #398ABE; */
}

.like_product_text_3{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.mypage_modify_box{
    margin-top: 50px;
    display: flex;

}

.like_button{
    margin-top: 20px;
}

#like_order{
    width: 95px;
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	background-color: #3498DB;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    margin-left: 10px;
}

#like_shopping{
    width: 95px;
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	background-color: #E67E22;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    margin-left: 10px;
}

#like_delete{
    width: 95px;
	height: 30px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	background-color: #A6A6A6;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    margin-left: 10px;

}