/* 마이페이지 상단 */
.header1 {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1000px;


    /* background-color: thistle; */
    justify-items: end;

}

/*My Page 텍스트와 사용자 이름의 컨테이너  */
.mpusername{
    position: relative;
    top: 50px;
    left: 50px;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    /* background-color: greenyellow; */
    margin-top: 50px;
    margin-left: 10px;
}

/* My Page 텍스트 */
.mp{
    width: 150px;
    height: 60px;

    font-size: 24px;
    font-weight: bold;
    /* background-color: rebeccapurple; */
}

/* 사용자 닉네임 */
.username{
    /* position: relative;
    top: 40px;
    left: 60px;  */

    width: 200px;
    height: 60px;
    color: #398ABE;
    font-size: 50px;
    /* background-color: yellow; */

}

/* 인사말 */
.hi{
    width: 500px;
    height: 60px;
    color: #398ABE;
    font-size: 20px;
    /* background-color: firebrick; */
}


/*내 정보 수정 */
.myinfo{
    width: 200px;
    height: 60px;

    position: relative;
    top: 270px;
    /* justify-items: end; */

    /* margin-top: 240px; */
    font-weight: bold;
    /* background-color: yellow; */
}


/* 가로선 */
.horizontal-line {
    border: 1px solid #CFCFCF;
    width: 100%;
    margin: 0px ;
}





/* 마이페이지 컨테이너 */
.container10 {

    /* background-color: #111; */
    height: 1200px;
    display: flex;

}



/* 카테고리 컨테이너 */
.category10 {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #ac2222; */
}

/* 나의 쇼핑 정보 카테고리 */
.category_contents_1{
    position: relative;
    width: 300px;
    height: 250px;
    top: 10px;
    /* background-color: #398ABE; */
}

/* 나의 쇼핑 정보 카테고리 */
.category_contents_2{
    position: relative;
    width: 300px;
    height: 200px;
    top: 50px;

    /* background-color: yellow; */
}

/* 카테고리 제목 텍스트 */
.category_title_p {
    font-size: 24px;
    font-weight: bold;
}

/* 카테고리 제목 텍스트 */
.category_content_p {
    font-size: 18px;
}


/* 마이페이지 내용 컨테이너*/
.mypage_content {
    display:flex;
    flex-direction: column;
    width: 1200px;
    height: 100%;
    /* background-color: #555; */
    margin-left: 50px;
}

/* 내 정보 관리 텍스트 */
.myinfo_text_1 {
    position: relative;
    top:30px;
    left: 500px;
    font-size: 32px;
    font-weight: bold;
    width: 200px;
    height: 80px;

    /* background-color: aquamarine; */
}

/* 비밀번호 입력 텍스트 */
.myinfo_text_2 {
    position: relative;
    top:30px;
    left: 430px;
    width: 350px;
    height: 80px;
    font-size: 16px;
    white-space: nowrap;
    /* background-color: goldenrod; */

}

/* 비밀번호 입력 */
.password_input {
    position: relative;
    top:70px;
    left: 380px;
    width: 350px;
    height: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    /* background-color: mediumorchid; */

}

/* 비밀번호 입력 필드 스타일 */
#password {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }



/* 버튼 컨테이너 */
.submit_password{
    display: flex;

    position: relative;
    top:200px;
    left: 80px;

}

/*확인 버튼 */
.button_check{

    width: 95px;
    height: 30px;


    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background-color: #3498DB;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 취소 버튼 */
.button_cancell{

    width: 95px;
    height: 30px;

    color: #fff;
    font-weight: bold;
    font-size: 12px;
    /* background-color: #E0E0E0;  */
    background-color: #A6A6A6;

    border: none;
    border-radius: 5px;
    cursor: pointer;

    position: relative;
    left: 40px;
    margin-right: 20px;
}
