<head>
    <link rel="stylesheet" type="text/css"  href="/static/css/Basket/basket.css">
</head>
<body>
<header>
    {{>layouts/header}}
</header>

<div class="main_title">
    <img src="/Pro1/image/chevron-left-solid.svg" class="backIcon" alt="" />
    <h1 class="title">장바구니</h1>
</div>
<div class="body_content">
    <div class="Allclick"><input type="checkbox" id="Allc" />
        전체선택<span class="checkbox-count">(0/3)</span>
    </div>
    <p class="clickdelete">선택삭제/</p>
    <p class="Alldelete">전체삭제</p>
</div>
<div class="line2"></div>
<!--아이템 들어오는 부분-->
<form action="/shopping/cartbox/{id}" method="get">
    {{#basketList}}
<div class="products">
    <div class="product" onclick="find(this); return false;">
        <input type="checkbox" class="chk" />
        <img src="/Pro1/image/willow-warbler-8071472_1280.jpg" class="img-thumbnail produces_image" alt="..." />
        <div class="product_info">
            <p id="cart_code" hidden>{{prod_code}}</p>
            <p  class="product_name" >{{prod_name}}</p>
            <p  class="product_size">사이즈: {{prod_size}}</p>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item minusBtn">
                        <a class="page-link" href="#" >-</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true" ><p class="prodCount">{{prod_cnt}}</p></a>
                    </li>
                    <li class="page-item plusBtn">
                        <a class="page-link" href="#" >+</a>
                    </li>
                </ul>
            </nav>
            <p class="product_pirce" name="prod_price">{{prod_price}}원</p>

        </div>
        <img src="/Pro1/image/xmark-solid.svg" class="Ximg" alt="" srcset="" />
    </div>
</div>
    {{/basketList}}
<div class="btn__">
    <button type="submit" class="btn_ btn-info">결제하기</button>
</div>

</form>
<!-- <script src="/static/js/Basket/basket.js"></script>-->
<script>
    //let prod_count = document.getElementById("prodCount").textContent;
       let minusBtn = document.querySelector(".minusBtn");
       // let plusBtn = document.querySelector(".plusBtn");

       // 장바구니에 있는 모든 상품의 ID를 배열로 저장
       let cartItemIds = Array.from(document.querySelectorAll("#cart_code")).map(item => item.textContent);
       console.log("장바구니 item 코드: " + cartItemIds);
       console.log("장바구니 item 코드: " + cartItemIds[0]);

       //각 상품 코드가 다를때 밑에 2개 함수가 실행되어야한다.


       //decrementQuantity();
       //incrementQuantity();

       function decrementQuantity() {
           // 해당 상품의 수량을 감소시키는 로직 구현
           minusBtn.addEventListener("click", () => {
               if (prod_count > 1) {
                   prod_count--;
                   document.getElementById("prodCount").textContent = prod_count;
               } else {
                   prod_count = 1;
                   document.getElementById("prodCount").textContent = prod_count;
               }
               console.log(prod_count);
           })
       }

       function find(prod) {
           let targetElement = prod.querySelector('.prodCount');
           let targetText = "";
           if (targetElement) {
               targetText = parseInt(targetElement.textContent);
               console.log(targetText);
           } else {
<!--               console.log('.prodCount 요소를 찾을 수 없습니다.');-->
           }

           let plusBtn = prod.querySelector('.plusBtn'); // 현재 상품 내에서 plusBtn을 찾음

           if (plusBtn) {
               plusBtn.addEventListener("click", () => {
                   if (targetText < 11) {
                       targetText++;
                       targetElement.textContent = targetText; // .prodCount 값을 업데이트
                   }
                   console.log(targetText);
               });
           }
       }
</script>
</body>

{{>layouts/footer}}