<head>
    <link rel="stylesheet" type="text/css" href="/static/css/layouts/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/basket/basket.css">
</head>

<body>
<header>
    {{>layouts/headerlogin}}
</header>

<div class="title_content">검색</div>
{{#products}}
<div class="card mb-3 card_box" style="max-width: 540px;" onclick="location.href='/shopping/read/product/{{prod_code}}'">
    <div class="row g-0 box1">
        <div class="col-md-4 img_box">
            <img src="http://192.168.250.43/images/a/{{image_link}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 box2 text_content">
            <div class="card-body text_body">
                <p class="card-title">{{prod_name}}</p>
                <p class="card-text">{{prod_discount_price}}</p>
            </div>
        </div>
    </div>
</div>

{{/products}}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let prodprice = document.querySelectorAll('.card-text');

        prodprice.forEach(function(target){
            let price = parseInt(target.textContent.replace(/₩|,/g, ''));
            target.textContent = "₩" + price.toLocaleString() + "원";
        });
    });



</script>
</body>

{{>layouts/footer}}







