img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 5px;
}

.form_content {
    /* display: flex; */
    margin-top: 120px;
    /* width: 1745px; */
    /* height: 00px; */
    justify-content: center;
    align-items: center;
}

.form {
    display: grid;
    place-items: center;
    height: 350px;
}

.id > input[type="text"] {
    width: 280px;
    height: 40px;
}


input[type="password"] {
    width: 280px;
    height: 40px;
}

.list_ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.list_ > a {
    font-size: 13px;
    margin-right: 10px;
    cursor: pointer;
}

.list_ > a:hover{
    background-color: #b1e2f5;
}

.title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.id{
    margin-left: 20px;
    /* background-color: aqua; */
    margin-bottom: 10px;
}

.id > p {
    position: relative;
    margin-left: 30px;
    bottom: 10px;
}

.pasw{
    margin-left: 40px;
    margin-bottom: 30px;
}

.btn_div{
    text-align: center;
    margin-left: 30px;
}

.warning{
    margin-top: 5px;
    color: red;
    font-size: 12px;
}

.btn_{
    width: 280px;
    height: 40px;
    border-radius: 10px;
    background-color: #b1e2f5;
    border: none;
    cursor: pointer;
    margin-left: 12px;
}

.form_body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ErrorMsg{
    margin-left:35px;
}