.body {
    width: auto;
    height: auto;
}

.main_title {
    display: flex;
    width: 1300px;
    justify-content: center;
}

.backIcon {
    margin-top: 70px;
    margin-left: 300px;
    width: 40px;
    height: 40px;
    left: 200px;
    cursor: pointer;
}

.title {
    margin-left: 30%;
    margin-top: 4%;
    font-size: 40px;
}

.body_content {
    display: flex;
    width: 1200px;
    /* justify-content: center;
    align-items: center; */
    margin-top: 70px;
    font-size: 25px;
    justify-content: space-between;
    margin-left: 120px;
}

.Allclick {
    margin-left: 19%;
    display: flex;
}

.clickdelete {
    margin-left: 50%;
    margin-top: 5px;
    cursor: pointer;
}

.Alldelete {
    margin-top: 5px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

input[type='checkbox'] {
    position: relative;
    width: 30px; /*Desired width*/

    height: 30px; /*Desired height*/
    top: 5px;
    cursor: pointer;
}

.line2 {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 1200px;
    border-bottom: 1px solid #000000;
    margin-left: 19%;
    margin-top: 15px;
}

.produces_image {
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-bottom: 90px;
}

.products {
    margin-left: 20%;
    margin-top: 20px;
    display: block;
}

.product{
    display: flex;
    margin-bottom: 40px;
}

.product_info {
    margin-bottom:20px;
   position:relative;
    top:50px;
}

.product_name {
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 18px;
}

.product_size {
    margin-bottom: 5px;
}

.pagination {
    margin-bottom: 10px;
}

.Ximg {
    width: 30px;
    height: 30px;
    margin-left: 50%;
    cursor: pointer;
}

.btn__{
    margin-top: 150px;
    margin-right: 200px;
}

.btn_{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 200px;
    width: 200px;
    height: 60px;
    font-size: 20px
}

.checkbox-count{
    display:flex;
}

.d_Form{
    position: relative;
    left: 130px;
}

.prod_img{
    display:block;
    width: 150px;
    height: 150px;
    position:relative;
    top:200px;
}

.p_box{
    width:1300px;
    position:relative;
    bottom:140px;
    margin-left: 350px;
}

.img-thumbnails{
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
}

.de_btn{
    /* width:30px; */
    height:30px;
    margin-left: 700px;
    margin-top:40px;
}

.baskForm{
    height: 200px;
    margin-bottom: 40px;
    width: 1100px;
    border-radius: 20px;
    box-shadow: inset 0 5px 5px -5px #333,
    inset -5px 0 5px -5px #333,
    inset 5px 0 5px -5px #333;
}

.change_Btn{
    border: 0;
    background-color: transparent;
    margin-top: 10px;
}

.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #1E8185;
}

.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #1E8185;
}