header{
    width: 100%;
    height: 150px;
}


section{
    text-align:center;
    height: 445px;
}

main{
    width: 100%;
    height: 5000px;
}

.prod-image{
    margin-top: 30px;
    width: 770px;
    height: 550px;

}

.prod-info{
    margin-top: 100px;
    margin-left: 50px;

}


.prod-name{
    display: flex;
    margin-top: 10px;
    font-size:large;
    margin-left: 800px;
}

.prod-name-text{
    margin-left: 100px;
    font-size:large;
}

.prod-price{
    display: flex;
    margin-top: 30px;
    font-size:large;
     margin-left: 800px;
}

.prod-price-text{
    margin-left: 100px;
    font-size:large;
}

.prod-discount-price{
    display: flex;
    margin-top: 30px;
    font-size:large;
     margin-left: 800px;

}

.prod-discount-text{
    margin-left: 100px;
    font-size:large;
}

.prod-diliver-price{
    display: flex;
    margin-top: 30px;
    font-size:large;
     margin-left: 800px;

}

.prod-diliver-text{
    margin-left: 100px;
    font-size:large;
}

.prod-size{
    display: flex;
    margin-top: 30px;
    font-size:large;
     margin-left: 800px;

}

.prod-size-text{
    margin-left: 100px;
    font-size:large;
}

.size-option{
    width: 200px;
}

.prod-buy-button{
    display: flex;
    margin-top: 30px;

}

.basket-button{
    width: 150px;
    height: 50px;
    margin-left: 85px;
    border-radius: 40%;

}

.buy-button{
    width: 150px;
    height: 50px;
    margin-left: 50px;
     border-radius: 40%;

}

.prod-detail-image-title{
    text-align: center;
}

.prod-detail-image-form{
    margin-top: 50px;
    text-align: center;

}

.detail-image{
    width: 900px;
    height: 750px;

}

.prod-detail-info{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;


}

.prod-info-text{
    margin-left: 12px;
}

.review-title{
    text-align: center;
}

.review-form{
    display: flex;
    border: 1px solid black;
}

.review-date{
    border-right: 1px solid black;
}

.review-image-form{
    border-right: 1px solid black;

}


.review-image{
    width: 120px;
    height: 120px;
}

.review-content{
    margin-left: 20px;
    width: 1000px;

}

.paging{
       width: 100%;
        display: inline-flex;
        align-items: center;
        margin-top: 10px;
        justify-content: center;
}

.paging>i,.paging>.pages>span{

margin: 0 3px;
cursor: pointer;

}

.active{
color: orange;
font-weight: bold;
}

