  header{
            width: 100%;
            height: 130px;

      }

  nav{
          text-align: center;
          width: 0px;
          height: 0px;
          float: left;
   }

   section{
          margin-left: 230px;
          width: 1230px;
          height: 70px;

    }

   main{
        margin-left: 230px;
         width: 1230px;
         height: 650px;

    }

.category-form{
    display: flex;
}

.category1{
    margin-left: 500px;

}
.category1:hover{
   text-decoration: underline;
   transform: rotate(50deg);
   transform: scale(1.5);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   background-color: #b1e2f5;
}

.category2{
    margin-left: 100px;

}
.category2:hover{
   text-decoration: underline;
   transform: rotate(10deg);
   transform: scale(1.5);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   background-color: #b1e2f5;
}
.category3{
    margin-left: 100px;


}
.category3:hover{
   text-decoration: underline;
   transform: rotate(10deg);
   transform: scale(1.5);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   background-color: #b1e2f5;
}

.category4{
    margin-left: 100px;


}
.category4:hover{
   text-decoration: underline;
   transform: rotate(10deg);
   transform: scale(1.5);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   background-color: #b1e2f5;
}

.head-category{
    margin-top:10px;
    text-align:center;
    font-size: x-large;
}

.detail-category-form{
    margin-top: 100px;
    width: 300px;
    height: 400px;

}


.detail-category1{
margin-top: 30px;

}

.detail-category1:hover{

  transform: scale(1.5);

}


.detail-category2{
margin-top: 30px;

}

.detail-category2:hover{

  transform: scale(1.5);

}

.detail-category3{
margin-top: 30px;
}

.detail-category3:hover{

  transform: scale(1.5);

}


.detail-category4{

margin-top: 30px;

}

.detail-category4:hover{

  transform: scale(1.5);

}

.detail-category5{

margin-top: 30px;
}

.detail-category5:hover{

  transform: scale(1.5);

}

.prod-list1-form{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap; /* 필요에 따라 다음 줄로 넘어갈 수 있도록 설정 */
}

.prod-list1-text{
    text-align: center;
    flex-basis: 25%; /* 한 줄에 4개의 요소가 나타날 수 있도록 설정 */
      box-sizing: border-box; /* 요소의 패딩과 테두리를 포함한 크기 계산 */
      padding: 5px; /* 각 요소의 간격을 설정 (선택적) */

}

.prod-list1{
    width: 200px;
    height: 230px;
    margin-left: 80px;
    display: flex;
   border-color: aqua;

}

.prod-list2-form{
    display: flex;
    margin-top: 50px;

}

.prod-list2-text{
    text-align: center;

}

.prod-list2{
    width: 220px;
    height: 260px;
    margin-left: 80px;
}

.hr{
    display: none;

}

.Mcusor{
    cursor:pointer;
    font-size: xx-large;
}

.cusor1{
    cursor:pointer;
    font-size: large;
}

.cusor2{
    cursor:pointer;
    font-size: large;
}

.cusor3{
    cursor:pointer;
    font-size: large;
}

.cusor4{
    cursor:pointer;
    font-size: large;
}

.cusor5{
    cursor:pointer;
    font-size: large;
}

.paging{
       width: 100%;
        display: inline-flex;
        align-items: center;
        margin-top: 10px;
        justify-content: center;
}

.paging>i,.paging>.pages>span{

margin: 0 3px;
cursor: pointer;

}

.active{
color: orange;
font-weight: bold;
}



