<head>
    <link rel="stylesheet" type="text/css" href="/static/css/layouts/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login/findID.css">
</head>

<header>
    {{>layouts/header}}
</header>
<body>
<div class="form_content">
    <form action="" method="" class="form">
        <div>
            <div class="title">
                <p>아이디 찾기</p>
                <div class="line_"></div>
            </div>
            <div class="info_">
                <p>입력하신 정보와 일치하는 아이디입니다.</p>
                <div class="find_id">
                    <p>(찾은 아이디)</p>
                </div>
            </div>
            <div class="btn_div">
                <button class="btn_">확인</button>
            </div>
        </div>
    </form>
</div>
</body>