<head>
    <link rel="stylesheet" type="text/css" href="/static/css/layouts/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login/searchID.css">
</head>

<header>
    {{>layouts/header}}
</header>
<body>
<div class="form_content">
    <form action="/find/ID" method="post" class="form">

        <div>
            <div class="title">
                <p>아이디 찾기</p>
                <div class="line"></div>
            </div>
            <div class="input_container">
                <div class="name_box">
                    <p>이름</p>
                    <input class="id" type="text" name="find_name" id="id" />
                </div>
                <div class="number_box">
                    <p>전화번호</p>
                    <input type="number" name="find_phone" id="pasw" />
                </div>
            </div>
            <div class="btn_div">
                <button class="btn" type="submit">확인</button>
            </div>
        </div>
    </form>
</div>
</body>