<head>
    <link rel="stylesheet" type="text/css" href="/static/css/layouts/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login/searchPasw.css">
</head>

<header>
    {{>layouts/header}}
</header>
<body>
<div class="form_content">
    <form action="" method="" class="form">
        <div>
            <div class="title">
                <p>비밀번호 찾기</p>
                <div class="line"></div>
            </div>
            <div class="input_container">
                <div class="name_box">
                    <p>아이디</p>
                    <input class="id" type="text" name="" id="id" />
                </div>
                <div class="number_box">
                    <p>전화번호</p>
                    <input type="number" name="" id="pasw" />
                </div>
            </div>
            <div class="btn_div">
                <button class="btn" type="submit">확인</button>
            </div>
        </div>
    </form>
</div>
</body>