<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/admin/answer.css">
</head>
<body>
<header>
    <div class="header-content">
        <h1>SMJ store</h1>
        <hr>
    </div>
</header>
<nav>
    <div class="nav-content">
        <a href="/shopping/adminmain"><button class="home">홈</button></a>
        <a href="/shopping/adminprod"><button class="produp-button">상품 등록</button></a>
        <a href="/shopping/questionlist"><button class="questionbutton">1:1문의 목록</button></a>
    </div>
</nav>
<main>
    {{#getQ}}
    <div class="answer-info">
        <p>고객아이디 : {{user_id}}</p>
        <p>주문번호 : {{order_id}}</p>
    </div>
    <div class="answer-prod">
<!--        나중에 상품 이미지 추가-->
        <p>문의 상품</p>
        <div class="prod-info">
            {{#prodImg}}
            <img src="http://192.168.250.43/images/a/{{prodImg}}" class="answer-prod-image">
            {{/prodImg}}
            <div class="prod-info-text">
                <p>{{prod_name}}</p><br>
                <h3>{{prod_discount_price}}원</h3>
            </div>
        </div>
    </div>
    <div class="question-type">
        <h3>문의 유형</h3>
        <p>{{qu_type}}</p>
    </div>
    <div class="question-image">
        <h3>사진</h3>
        <img src="http://192.168.250.43/images/a/{{qu_image}}" class="question-prod-image">
        <img src="http://192.168.250.43/images/a/{{qu_image2}}" class="question-prod-image">
        <img src="http://192.168.250.43/images/a/{{qu_image3}}" class="question-prod-image">
    </div>
    <div class="question-title">
        <h3>문의 제목</h3>
        <input type="text" value="{{qu_title}}" readonly class="title-text">
    </div>
    <div class="question-content">
        <h3>문의 내용</h3>
        <input type="text" value="{{qu_content}}" readonly class="content-text">
    </div>

    <form action="/shopping/questionlist/answer/{{qu_code}}" method="get">
        <div class="answer-content">
            <h3>답변 하기</h3>
    {{#testModel}}
            <input type="text" name="anContent" id="answerText" class="answer-text" value="{{an_content}}">
    {{/testModel}}
            <input type="text" name="anContent" class="answer-text2">
        </div>
        <div class="in-form">
            <button type="submit" class="answer-in">답변 등록</button>
            <button type="button" class="answer-return" onclick="history.back();">취소</button>
        </div>
    </form>
    {{/getQ}}
</main>
<script>
    let answerText = document.getElementById('answerText').value;
    console.log(answerText);

    let answerText2 = document.querySelector('.answer-text2');
    let btnbox = document.querySelector('.in-form');

    if(answerText != null) {
        answerText2.style.display = 'none';
        btnbox.style.display = 'none';
    }
</script>
</body>
</html>