<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/admin/answer.css">
</head>
<body>
<header>
    <div class="header-content">
        <h1>SMJ store</h1>
        <hr>
    </div>
</header>
<nav>
    <div class="nav-content">
        <a href="/shopping/adminmain"><button class="home">홈</button></a>
        <a href="/shopping/adminprod"><button class="produp-button">상품 등록</button></a>
        <a href="/shopping/questionlist"><button class="questionbutton">1:1문의 목록</button></a>
    </div>
</nav>
<main>
    <div class="answer-info">
        <p>고객아이디 : ssw1234</p>
        <p>주문번호 : 20172955</p>
    </div>
    <div class="answer-prod">
        <p>문의 상품</p>
        <div class="prod-info">
            <img src="/image/prod-image.webp" class="answer-prod-image">
            <div class="prod-info-text">
                <p>오버핏 맨투맨 티셔츠</p><br>
                <h3>29,900원</h3>
            </div>
        </div>
    </div>
    <div class="question-type">
        <h3>문의 유형</h3>
        <p>환불</p>
    </div>
    <div class="question-image">
        <h3>사진</h3>
        <img src="/image/question-image.jpg" class="question-prod-image">
    </div>
    <div class="question-title">
        <h3>문의 제목</h3>
        <input type="text" readonly class="title-text">
    </div>
    <div class="question-content">
        <h3>문의 내용</h3>
        <input type="text" readonly class="content-text">
    </div>
    <div class="answer-content">
        <h3>답변 하기</h3>
        <input type="text" class="answer-text">
    </div>
    <div class="in-form">
        <button type="submit" class="answer-in">답변 등록</button>
        <button type="submit" class="answer-return">취소</button>
    </div>
</main>

</body>
</html>