/* styles.css */
header {
    width: 100%;
    height: 50px;


}

nav {
    margin-top: 20px;
    width: 231px;
    height: 3300px;
    border-right: 1px solid black;
    float: left;


}

main {
    margin-left: 236px;
    width: 1195px;
    height: 780px;



}

.header-content {
    text-align: center;
    width: 100%;
    height: 50px;
}

.nav-content {
    margin-left: 35px;
    margin-top: 150px;

}

.home{
    width: 150px;
    height: 80px;
}

.produp-button {
    margin-top: 50px;
    width: 150px;
    height: 80px;
}

.questionbutton{
    margin-top: 50px;
    width: 150px;
    height: 80px;
}

.section {
    text-align: center;
    margin-top: 50px;
    border: 1px solid black;

}

.category-form {
    margin-top: 0;

    width: 1190px;
    height: 150px;


}

.category-select, .subcategory-select {
    display: inline-block; /* 가로로 나란히 정렬 */
    margin-left: 100px; /* 선택 상자 사이의 간격 조절 */
    text-align: center;
}

#categorySelect {
    width: 250px;
    height: 40px;
    margin-top: 10px;
    margin-left: 200px;
}

#subcategorySelect {
    width: 250px;
    height: 40px;
    margin-top: 10px; /* 위의 선택 상자와 높이를 맞춤 */
}

.product-name-form {
    margin-top: 0;

    width: 1200px;
    height: 130px;

}

.product-name-input{
    margin-top: 40px;
    margin-left: 220px;
}
.sell-price-form{
    margin-top: 0;

    width: 1200px;
    height: 270px;


}

.product-sellprice-input, .product-discountprice-input{
    margin-top: 20px;
    margin-left:220px;
}

.product-discount-input{
    margin-top: 20px;
    margin-left:220px;
}

.product-realprice{
    margin-top: 20px;
    margin-left:220px;

}

.discount-input-container {
    display: flex;
    align-items: center;
}

.discount-input-label {
    margin-right: 10px;
}

.price-apply{
    margin-top: 20px;
    margin-left: 400px;
}

.imageupload-form{
    margin-top: 0;

    width: 1200px;
    height: 270px;


}

.upload-form{
    margin-top: 30px;
    margin-left: 200px;
}

.sub-image{
    margin-top: 90px;

}

.detailed-page{
    margin-top: 0;

    width: 1200px;
    height: 380px;


}

.detailed-page-input{
    margin-top: 10px;
    margin-left: 390px;
}

.product-option{
    margin-top: 0;

    width: 1200px;
    height: 150px;


}

.product-option-input{
    margin-top: 50px;
    margin-left: 450px;
}

.product-info{
    margin-top: 0;

    width: 1200px;
    height: 150px;

}

.product-info-input{
    margin-left: 50px;
    margin-top: 10px;
}

.product-info-text{
    margin-top: 10px;
}

.product-noti-info{
    margin-top: 0;

    width: 1200px;
    height: 360px;


}

.product-noti-input{
    margin-left: 50px;
    margin-top: 10px;
}

.product-noti-text{
    margin-top: 10px;
}

.product-deliver{
    margin-top: 0;

    width: 1200px;
    height: 120px;

}

.product-deliver-input{
    margin-left: 150px;
    margin-top: 20px;
}

.product-deliver-price{
    margin-top: 20px;
}

.product-submit{
    margin-left: 380px;
    margin-top: 100px;

}

.add-form{
    margin-bottom: 10px;
    display: flex;
}

.default-image-form{
    margin-bottom: 20px;
}