header {
    width: 100%;
    height: 50px;


}

nav {
    margin-top: 20px;
    width: 231px;
    height: 710px;
    border-right: 1px solid black;
    float: left;

}

main {
    margin-left: 231px;
    width: 1230px;
    height: 710px;


}

.header-content {
    text-align: center;
    width: 100%;
    height: 50px;
}

.nav-content {
    margin-left: 35px;
    margin-top: 150px;
}

.home{
    width: 150px;
    height: 80px;
}

.produp-button {
    margin-top: 50px;
    width: 150px;
    height: 80px;
}

.questionbutton{
    margin-top: 50px;
    width: 150px;
    height: 80px;
}

.seller-info {
   text-align: center;
   margin-top: 50px;

}

.seller-date-form{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}

.seller-date-button{
    width: 100px;
    height: 30px;
    margin-left: 20px;
}

.seller-start{
    margin-left: 20px;
    margin-right: 5px;
}

.seller-end{
    margin-left: 5px;
}

.in-button{
    margin-left: 30px;
    width: 120px;
}

.seller-result{

    margin-top: 100px;
    margin-left: 400px;
}

.seller-result-text{
    width: 200px;
    height: 30px;
}

.cate-info{
    margin-left: 450px;
    margin-top: 30px;
}

.cate-button{
    width: 200px;
    height: 50px;
}

.cate-info-form{
    display: flex;
    margin-top: 50px;
}

.cate-info-text{
    margin-left: 80px;
}
